#form-wrapper{
    width: 30vw;
    position: absolute;
    z-index: 2;
    background-color: rgb(33,37,41);
    padding: 20px 10px 20px 10px;
    border-radius: 10px;
    margin-top: 100px;
    color: aliceblue;
}
nav{
    color: white;
}
body{
    margin: 0;
    box-sizing: border-box;
   padding: 0;
}
main{
    display: flex;
    align-items: center;
    flex-direction: column;
}
#content-wrapper{
    display: flex;
    height: 83vh;
    justify-content: center;
    width: 100vw;
    flex-wrap: wrap;
    background-color: rgb(238, 246, 246);
}
.hide{
    display: none;
}
.read{
    background-color: green;
    color: white;
}
.notread{
    background-color: red;
    color: white;
}
#card{
    width: 90px;
    margin: 10px;
    height: 150px;
}
